<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Gallery</title>
    <style>
      * {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  overflow: hidden;
}

.work-container{
  padding: 30px;
  overflow: hidden;
  background-color: black;
}

.img1{
   width: 400px;
   height: 550px;
   margin-right: 10px;   
   margin-bottom: 30px;  
   border: 2px solid red;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
    </style>
  </head>
  <body>
    {{>navbar data=details}}

   <section>
    <div class="work-container" >
      <h1 class="text-center text-secondary py-5 ">My Work</h1>
       <div class="row">
          {{#each work}}
          <div class="column">
            <div class="container">
              <img class="img1" src="{{this.ImgLink}}" alt=" "  >
            </div>
            
          </div>
          {{/each}}
        </div>
    </div>
   </section>



    {{>footer user=user}}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
  </body>
</html>